html {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
  line-height: 1.42857143;
  color: #000;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 1.5em;
	text-align: center;
	color: rgba(70, 70, 70, 1);
}

h1:first-of-type {
	padding-top: 10px;
}

h2 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: white;
}

h2:first-of-type {
	padding-top: 30px;
}

#main_container {
	padding: 0px;
	margin: 0px;
	width: 1024px;
	height: 600px;
}

#pic_area {
	width: 1024px;
	height: 400px;
}

#quest_area {
	position: absolute;
	width: 1024px;
	height: 100px;
	padding: 0px;
	margin-top: -100px;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 2;
}

#vars {
	width: 1024px;
	height: 150px;
	padding: 0px;
	background: rgb(46, 117, 130);
}

#var1 {
	background: rgb(211, 139, 71);
}

#var2 {
	background: rgb(211, 167, 71);
}

#var4 {
	background: rgb(59, 79, 143);
}

.var_look {
	margin: 0px;
	padding: 10px 0px;
	font-size: 1.2em;
	font-weight: normal;
	color: white;
	text-align: center;
}

.img_look {
	position: absolute;
	width: 1024px;
	clip: rect(0px,auto,400px,0px);
	z-index: 1;
}
